<table>
  <thead>
    <tr>
      <th>品名</th>
      <th>品名</th>
    </tr>
  </thead>
  <tbody>
    <% @materials.each do |material| %>
      <tr>
        <td><%= material.name %></td>
        <td>hoge</td>
      </tr>
    <% end %>
  </tbody>
</table>